.game-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;

  .level-presentation {
    width: 50%;
    display: flex;
  }

  .game {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 33%;
    }
  }

  .terminal-container {
    width: 50%;
    display: flex;

    div {
      width: 100%;

      .xterm-screen {
        width: 100% !important;

        .xterm-cursor-layer,
        .xterm-text-layer,
        .xterm-selection-layer,
        .xterm-link-layer {
          width: 100% !important;
        }
      }
    }
  }

  .playable-cards {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
